*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.2;
  font-style: 500,300,400;
  font-family: 'Inter', sans-serif;
  background: #dfdfdf;
}
/* style for header */
.headerinfo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 120px;
}
.header .line {
  width: 1200px;
  height: 2px;
  margin: 0 auto;
  background: #4A4A4A;
}
.headerinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.headername {
  margin-left: 100px;
}
.headername h1{
  font-size: 48px;
  line-height: 52px;
}
.headername h2{
  margin-top: 12px;
  font-size: 28px;
  line-height: 36px;
}
.location{
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.location img{
  width: 32px;
  height: 32px;
}
.location p {
  margin-left: 17px;
}
.navlist{
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 50px;
  padding: 0 20px;
  line-height: 50px;
  transition: 3s;
}
.navlist li > a {
  text-decoration: none;
  color: #090808;
  transition: .3s;
  font-size: 20px;
}
.navlist li>a:hover{
  color: #ae2727;
  background-color: rgb(224 230 231);
}
/*style for main*/
.main{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
.Summary{
  width: 480px;
}
.Summary h2{
  font-size: 30px;
  line-height: 23px;
}
.Summary p{
  font-size: 16px;
  line-height: 26px;
  margin-top: 13px;
}
.Summary .scrow{
  width: 480px;
  height: 2px;
  margin-top: 30px;
  background-color: #4A4A4A;
}
.code{
  width: 480px;
}
.code h2{
  margin-top: 40px;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}
code{
  padding-top: 30px;
}
code:hover{
  color: rgb(109, 113, 113);
}
.code .scrow {
  width: 480px;
  height: 2px;
  margin-top: 30px;
  background-color: #4A4A4A;
}
.courses {
  width: 500px;
}
.courses h2{
  margin-top: 40px;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}
.courses .scrow{
  width: 480px;
  height: 2px;
  margin-top: 30px;
  background-color: #4A4A4A;
}
.courses ul>li{
  line-height: 20px;
  font-size: 16px;
  margin-top: 10px;
}
.courses ul>li:hover{
  color: rgb(107, 102, 102);
}
.education {
  width: 500px;
}
.education h2{
  margin-top: 40px;
  font-size: 30px;
  line-height: 23px;
}
.education ul>li{
  font-size: 16px;
  line-height: 26px;
  margin-top: 13px;
}
.education .scrow{
  width: 480px;
  height: 2px;
  margin-top: 30px;
  background-color: #4A4A4A;
}
/* column_two */
.contacts ul>li{
  display: flex;
  align-items: center
}
.contacts h3{
  font-size: 28px;
  line-height: 15px;
}
.contacts ul>li {
  margin-top: 15px;
}
.contacts ul {
  margin-top: 30px;
}
.contacts ul>li>a{
  text-decoration: none;
  font-size: 16px;
  color: #090808;
  margin-left: 15px;
}
.contacts ul>li>p{
  font-size: 16px;
  margin-left: 15px;
}
.contacts ul>li>a:hover{
  text-decoration: none;
  font-size: 16px;
  color: #b66363;
}
.contacts ul>li>img{
  width: 32px;
  height: 32px;
}
.contacts .scrow{
  width: 200px;
  height: 2px;
  margin-top: 30px;
  background-color: #4A4A4A;
}
.skills h3{
  font-size: 28px;
  line-height: 15px;
  margin-top: 40px;
}
.skills ul>li{
  font-size: 20px;
  line-height: 15px;
  margin-top: 10px;
}
.skills ul{
  margin-top: 20px;
}
.skills .scrow{
  width: 200px;
  height: 2px;
  margin-top: 30px;
  background-color: #4A4A4A;
}
.project .scrow{
  width: 200px;
  height: 2px;
  margin-top: 30px;
  background-color: #4A4A4A;
}
.project h2 {
  margin-top: 40px;
  font-size: 28px;
  line-height: 15px;
}
.project ul>li>a{
  text-decoration: none;
  color: #090808;
  font-size: 20px;
  margin-top: 15px;
}
.project ul>li>a:hover{
  color: #b66363;
}
.project ul{
  margin-top: 15px;
}
.english h3 {
  margin-top: 40px;
  font-size: 28px;
  line-height: 15px;
}
.english ul>li{
  font-size: 20px;
  line-height: 25px;
}
.english ul{
 margin-top: 30px;
}
.english .scrow{
  width: 200px;
  height: 2px;
  margin-top: 30px;
  background-color: #4A4A4A;
}
/* footer */
.link ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link ul>li{
  list-style: none;
  display: flex;
  align-items: center;
}
.link .big-img{
  width: 240px;
  height: 73px;
}
.link a{
  text-decoration: none;
  color: #090808;
  margin-left: 15px;
}
.link{
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer{
  width: 1280px;
  margin: 0 auto;
  padding-top: 40px;
}
.footer .scrow{
  width: 1280px;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 0 auto;
  background-color: #4A4A4A;
}
